#Galleri {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Galleri-con {
        padding: 0 12%;
        @media (max-width: 1300px) {
            padding: 0 6%;
        }

        @media (max-width: 767px) {
            padding: 0 1%;
        }
    }
}