#Search {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .SearchBox {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--background-lige);
        padding: 1rem;
        gap: 1rem;

        h3 {
            font-size: 1.7rem;
            line-height: 1.7rem;
        }

        input {
            background-color: var(--background-main);
            width: auto;
            height: 100%;
            border: 2px solid var(--background-lige);
            color: var(--text-color);
            font-size: 1.6rem;
            line-height: 1.6rem;
            padding: 0.5rem 1.25rem;
            border-radius: 0.75rem;
            box-shadow: 0 0 1rem var(--background-lige);
        }
    }

    .Results {
        width: 100%;
    }
}