#UdvalgtTur {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 12%;

    .ship {
        width: 100%;
        max-width: 1600px;
        height: auto;
        display: flex;
        gap: 5rem;

        .trip-images {
            width: auto;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .trip-info {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            height: 100%;
            width: 30rem;
            position: relative;

            .price {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.8rem;
                padding: 1.4rem;
                color: var(--primary);
                background-color: var(--highlight);
                clip-path: polygon(0% 0%,
                        100% 0%,
                        100% 100%,
                        20% 100%,
                        0% 70%);
            }

            h6 {
                font-size: 2rem;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                border-bottom: 3px solid var(--highlight);
            }

            .rating {
                width: auto;
                height: auto;
                display: flex;
                justify-content: start;
                align-items: center;

                svg {
                    width: 2rem;
                    height: 2rem;
                    fill: var(--highlight);
                }
            }

            .description {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                height: 100%;
                width: 100%;
                position: relative;
                gap: 1rem;
                font-size: 1.2rem;
                color: var(--text-fade);
                border-bottom: 2px solid var(--secondary);
                padding: 2rem 0;

                .content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1.3rem;
                }
            }

            .details {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                height: 100%;
                width: 100%;
                position: relative;
                gap: 1rem;
                font-size: 1.2rem;
                border-bottom: 2px solid var(--secondary);
                padding: 2rem 0;

                p {
                    color: var(--text-color);

                    span {
                        color: var(--text-fade);
                    }
                }
            }

            .share {
                display: flex;
                justify-content: start;
                align-items: center;
                height: 100%;
                width: 100%;
                position: relative;
                gap: 1rem;
                padding: 2rem 0;

                p {
                    font-size: 1.2rem;
                    color: var(--text-color);
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    font-size: 1.4rem;
                    color: var(--text-color);
                    transition: color ease 200ms;

                    &:hover {
                        color: var(--highlight);
                    }
                }
            }
        }
    }

    @media (max-width: 1300px) {
        padding: 6rem 5%;

        .ship {
            gap: 2rem;

            .trip-images {
                width: 50%;
                height: auto;
                flex: 1;
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                gap: 3rem;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .trip-info {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                height: 100%;
                width: 50%;
                position: relative;

                .price {
                    font-size: 1.6rem;
                    padding: 1.2rem 1.4rem;
                }

                h6 {
                    font-size: 1.8rem;
                    padding-bottom: 0.8rem;
                    margin-bottom: 0.8rem;
                }

                .rating {
                    svg {
                        width: 1.75rem;
                        height: 1.75rem;
                    }
                }

                .description {
                    gap: 0.6rem;
                    font-size: 1.1rem;
                    padding: 1rem 0;

                    .content {
                        gap: 0.5rem;
                    }
                }

                .details {
                    gap: 0.6rem;
                    font-size: 1.1rem;
                    padding: 1rem 0;
                }

                .share {
                    gap: 1rem;
                    padding: 1rem 0;

                    p {
                        font-size: 1.1rem;
                    }

                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 4rem 2%;

        .ship {
            flex-direction: column;
            gap: 4rem;

            .trip-images {
                width: 100%;
                gap: 2rem;
            }

            .trip-info {
                width: 100%;
                justify-content: center;
                align-items: center;

                .price {
                    margin-left: auto;
                    position: relative;
                    font-size: 1.5rem;
                    padding: 1rem 6vw;
                }

                h6 {
                    font-size: 2.2rem;
                    padding-bottom: 4vw;
                    margin-bottom: 4vw;
        
                }

                .rating {
                    position: absolute;
                    top: 0.3rem;
                    left: 0.3rem;
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    svg {
                        width: 2rem;
                        height: 2rem;
                        fill: var(--highlight);
                    }
                }

                .description {
                    justify-content: center;
                    align-items: center;
                    gap: 2.5vw;
                    font-size: 1.1rem;
                    color: var(--text-fade);
                    border-bottom: 2px solid var(--secondary);
                    padding: 0;
                    padding-bottom: 1rem;

                    .content {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 2vw;

                        p {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }

                .details {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    gap: 3vw;
                    font-size: 1.1rem;
                    border-bottom: 2px solid var(--secondary);
                    padding: 1rem 20%;

                    p {
                        width: 100%;
                        text-align: start;
                        color: var(--text-color);

                        span {
                            color: var(--text-fade);
                        }
                    }
                }

                .share {
                    justify-content: center;
                    gap: 1rem;
                    padding: 2rem 0;

                    p {
                        font-size: 1.4rem;
                    }

                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}